<a href="https://colab.research.google.com/github/Paolo20224/Messi-Vs-Ronaldo-Stats/blob/main/Messi__vs_CR7_stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Comenzamos el ejercicio importanto la informacion
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

filename = '/content/MessiRonaldo.xlsx'
df = pd.read_excel(filename)
df.head()

,Season,Player,Liga_Goals,Liga_Asts,Liga_Aps,Liga_Mins,CL_Goals,CL_Asts,CL_Aps,CL_Mins
0,2017-18,Messi,34,12,36,2996,6,2,10,783
1,2017-18,Ronaldo,26,5,27,2297,15,3,13,1170
2,2016-17,Messi,37,9,34,2832,11,2,9,810
3,2016-17,Ronaldo,25,6,29,2544,12,5,13,1200
4,2015-16,Messi,26,16,33,2729,6,1,7,630

In [5]:
#Una vez cargada la informacion, verificamos los tipos de datos de cada columna
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Season      18 non-null     object
 1   Player      18 non-null     object
 2   Liga_Goals  18 non-null     int64
 3   Liga_Asts   18 non-null     int64
 4   Liga_Aps    18 non-null     int64
 5   Liga_Mins   18 non-null     int64
 6   CL_Goals    18 non-null     int64
 7   CL_Asts     18 non-null     int64
 8   CL_Aps      18 non-null     int64
 9   CL_Mins     18 non-null     int64
dtypes: int64(8), object(2)
memory usage: 1.5+ KB