<a href="https://colab.research.google.com/github/Paolo20224/Messi-Vs-Ronaldo-Stats/blob/main/Prediccion_Diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1787]:
#Iniciamos el análisis de nuestro Dataframe, incorporando nuestra información bruta en Colab
import pandas as pd
filename = "/content/diabetes.csv"
df = pd.read_csv(filename)

1. Analisis y Depuracion de Datos

In [1788]:
#Una vez cargada la informacion, verificamos los tipos de datos de cada columna
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [1789]:
# A continuacion realizaremos un anasis estadistico descriptivo con el objeto de Identificar si existen valores outliers y que puedan generar inconsistencias en nuestros análisis posteriores
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [1790]:
# A continuacion realizaremos una limpieza de algunos datos outliers, asociados al nivel de embarazos 
df2=df
pregnancie_filter=df2['Pregnancies']>=10
df2drop = df2.loc[pregnancie_filter, :]
df2drop

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
7,10,115,0,0,0,35.3,0.134,29,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
24,11,143,94,33,146,36.6,0.254,51,1
25,10,125,70,26,115,31.1,0.205,41,1
28,13,145,82,19,110,22.2,0.245,57,0
34,10,122,78,31,0,27.6,0.512,45,0
36,11,138,76,0,0,33.2,0.420,35,0
72,13,126,90,0,0,43.4,0.583,42,1
86,13,106,72,54,0,36.6,0.178,45,0
88,15,136,70,32,110,37.1,0.153,43,1
143,10,108,66,0,0,32.4,0.272,42,1
159,17,163,72,41,114,40.9,0.817,47,1
193,11,135,0,0,0,52.3,0.578,40,1
215,12,151,70,40,271,41.8,0.742,38,1
246,10,122,68,0,0,31.2,0.258,41,0
254,12,92,62,7,258,27.6,0.926,44,1
259,11,155,76,28,150,33.3,1.353,51,1
270,10,101,86,37,0,45.6,1.136,38,1
274,13,106,70,0,0,34.2,0.251,52,0
281,10,129,76,28,122,35.9,0.280,39,0
298,14,100,78,25,184,36.6,0.412,46,1
306,10,161,68,23,132,25.5,0.326,47,1
323,13,152,90,33,29,26.8,0.731,43,1
327,10,179,70,0,0,35.1,0.200,37,0
333,12,106,80,0,0,23.6,0.137,44,0
357,13,129,0,30,0,39.9,0.569,44,1
358,12,88,74,40,54,35.3,0.378,48,0
375,12,140,82,43,325,39.2,0.528,58,1
436,12,140,85,33,0,37.4,0.244,41,0
455,14,175,62,30,0,33.6,0.212,38,1
458,10,148,84,48,237,37.6,1.001,51,1
464,10,115,98,0,0,24.0,1.022,34,0
505,10,75,82,0,0,33.3,0.263,38,0
510,12,84,72,31,0,29.7,0.297,46,1
518,13,76,60,0,0,32.8,0.180,41,0
542,10,90,85,32,0,34.9,0.825,56,1
558,11,103,68,40,0,46.2,0.126,42,0
559,11,85,74,0,0,30.1,0.300,35,0
578,10,133,68,0,0,27.0,0.245,36,0
582,12,121,78,17,0,26.5,0.259,62,0
590,11,111,84,40,0,46.8,0.925,45,1
614,11,138,74,26,144,36.1,0.557,50,1
634,10,92,62,0,0,25.9,0.167,31,0
635,13,104,72,0,0,31.2,0.465,38,1
648,11,136,84,35,130,28.3,0.260,42,1
658,11,127,106,0,0,39.0,0.190,51,0
660,10,162,84,0,0,27.7,0.182,54,0
667,10,111,70,27,0,27.5,0.141,40,1
672,10,68,106,23,49,35.5,0.285,47,0
691,13,158,114,0,0,42.3,0.257,44,1
706,10,115,0,0,0,0.0,0.261,30,1
712,10,129,62,36,0,41.2,0.441,38,1
717,10,94,72,18,0,23.1,0.595,56,0
740,11,120,80,37,150,42.3,0.785,48,1
744,13,153,88,37,140,40.6,1.174,39,0
745,12,100,84,33,105,30.0,0.488,46,0
763,10,101,76,48,180,32.9,0.171,63,0

In [1791]:
# a continuacion eliminaremos dichas filas para evitar cualquier tipo de error o sesgo dentro de nuestro DF
pregnancie_filter2=df2['Pregnancies']<10
df2clean= df2.loc[pregnancie_filter2, :]
df2clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 710 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               710 non-null    int64
 1   Glucose                   710 non-null    int64
 2   BloodPressure             710 non-null    int64
 3   SkinThickness             710 non-null    int64
 4   Insulin                   710 non-null    int64
 5   BMI                       710 non-null    float64
 6   DiabetesPedigreeFunction  710 non-null    float64
 7   Age                       710 non-null    int64
 8   Outcome                   710 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 55.5 KB

In [1792]:
df2clean.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,710.000000,710.000000,710.000000,710.000000,710.000000,710.000000,710.000000,710.000000,710.000000
mean,3.230986,120.708451,68.823944,20.578873,81.733803,31.861127,0.472573,32.350704,0.335211
std,2.663052,32.373670,19.044488,15.837730,117.223658,7.868495,0.331664,11.589821,0.472397
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.200000,0.243250,24.000000,0.000000
50%,3.000000,116.500000,71.000000,23.000000,40.000000,32.000000,0.375500,28.000000,0.000000
75%,5.000000,140.750000,80.000000,32.000000,128.750000,36.375000,0.628500,38.000000,1.000000
max,9.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

2. Prediccion de Datos

In [1793]:
#Iniciamos importando la biblioteca de Sikitlearn
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd

In [1794]:
from sklearn.model_selection import train_test_split
X = df2clean.drop(columns=['Outcome']) # Separación de las características
y = df2clean['Outcome'] # Separación del target (corresponde a lo que quiero predecir)
y

0      1
1      0
2      1
3      0
4      1
      ..
762    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 710, dtype: int64

In [1795]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.28, random_state=46)
##Lo normal, o incluso by default es 30%
X_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
22,7,196,90,0,0,39.8,0.451,41
550,1,116,70,28,0,27.4,0.204,21
725,4,112,78,40,0,39.4,0.236,38
337,5,115,76,0,0,31.2,0.343,44
688,1,140,74,26,180,24.1,0.828,23
...,...,...,...,...,...,...,...,...
432,1,80,74,11,60,30.0,0.527,22
475,0,137,84,27,0,27.3,0.231,59
401,6,137,61,0,0,24.2,0.151,55
594,6,123,72,45,230,33.6,0.733,34
203,2,99,70,16,44,20.4,0.235,27

In [1796]:
knn = KNeighborsClassifier(n_neighbors=2)
knn.fit(X_train, y_train) # Ojo: fit en base a los de entrenamiento!!

KNeighborsClassifier(n_neighbors=2)

In [1797]:
predictions = knn.predict(X_test)
predictions

array([1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       0])

In [1798]:
print('Valores predichos',predictions.tolist())
print('Valores reales',y_test.tolist())
print('Accuracy:',knn.score(X_test, y_test))

Valores predichos [1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0]
Valores reales [1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1]
Accuracy: 0.7788944723618091